BOT_TOKEN=discord_bot_token_buraya
LAVALINK_NAME=primary
LAVALINK_URI=ws://localhost:2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_REGION=EUROPE
LAVALINK_AUTOSTART=true
LAVALINK_JAR=Lavalink.jar
LAVALINK_STARTUP_DELAY_MS=120000
DEFAULT_VOLUME=80
